{% extends 'base.html' %}

{% block title %}Login - Cliente SUAP{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center min-vh-100 position-relative">

  <div class="login-shadow-blue1"></div>
  <div class="login-shadow-blue2"></div>

  <div class="login-card">
    <h1>Bem-vindo ao<br>Sistema de Boletim <span>SUAP</span></h1>
    <p>Plataforma integrada que utiliza autenticação OAuth 2.0 para acessar a API oficial do SUAP, permitindo consulta segura ao perfil do usuário e seus boletins acadêmicos.</p>
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-login">Login com SUAP</a>
  </div>
</div>
{% endblock %}
